<h1>Moviefy</h1>
<p>Create your own movie lists</p>

<h2>Your Lists</h2>
<%= link_to 'Add List', new_list_path %>

<% @lists.each do |list| %>
<p><%= link_to "#{list.name}", list_path(list.id) %></p>
<%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


