<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div class="card p-4">
        <h3>Add a Bookmark</h3>

        <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie, prompt: "Select a movie" %>
        <%= f.submit "Submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

